.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
    min-width: 350px;
}

.skills-column .title {
    font-size: 30px;
    margin: 0 0 20px;
    white-space: nowrap;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: 25px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.skill-item {
    margin-bottom: 20px;
}

.skill-item:last-child {
    margin-bottom: 0;
}

.skill-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.skill-item p {
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.8;
    word-wrap: break-word;
}